#bottom-footer {
    height: 80px;
    background-color: rgb(34, 34, 34);
    // .container {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     height: 100%;
    // }
}

.col-6 {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

#socials {
    justify-content: flex-end;
}

a {
    padding: 5px;
}

h4 {
    color: var(--primary-color);
}
