.comic-card {
    padding: 10px;
    text-align: center;
    figure {
        height: 170px;
        width: 170px;
        overflow: hidden;
        margin-bottom: 15px;
        :hover {
            cursor: pointer;
        }
    }
    a {
        color: white;
        text-decoration: none;
    }
}
