header {
    #top-header {
        height: 40px;
        width: 100%;
        background-color: $main-color;
        color: white;
    }
    #bottom-header {
        height: 80px;

        nav {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    ul {
        list-style-type: none;
        li {
            display: inline-block;
        }
        li a {
            padding: 10px;
            color: black;
            &:hover {
                border-bottom: 3px solid $main-color;
            }
        }
    }

    img {
        width: 60px;
    }
}
