#middle-footer {
    height: 100%;
    background-image: url(../assets/img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    // display: flex;
    .col-6 {
        width: 50%;
        height: 300px;
    }
}

.nav-list {
    width: calc(80% / 3);
    height: 100%;
    padding: 30px 10px;
    h5 {
        color: white;
    }
    ul {
        list-style-type: none;
        margin-bottom: 30px;
        li a {
            color: grey;
            font-size: 10px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

#footer-nav {
    display: flex;
}

#col-logo {
    background-image: url(../assets/img/dc-logo-bg.png);
    background-position: center;
    background-size: cover;
}
