#middle-footer {
    height: 100%;
    background-image: url("../images/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 400px;
    p {
        color: grey;
        font-size: 10px;
        padding-right: 50px;
    }

    #footer-nav {
        display: flex;
        flex-wrap: wrap;
        .nav-list {
            padding: 30px 10px;
            h5 {
                color: white;
            }
            ul {
                list-style-type: none;
                margin-bottom: 30px;
                li a {
                    color: grey;
                    font-size: 10px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

#colon-logo {
    height: 400px;
    width: 100%;
    background-image: url("../images/dc-logo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
